$black: #000 !default;
$near-black: #111 !default;
$dark-gray: #333 !default;
$mid-gray: #555 !default;
$gray: #777 !default;
$silver: #999 !default;
$light-silver: #aaa !default;
$moon-gray: #ccc !default;
$light-gray: #eee !default;
$near-white: #f4f4f4 !default;
$white: #fff !default;
$dark-red: #e7040f !default;
$red: #ff4136 !default;
$light-red: #ff725c !default;
$orange: #ff6300 !default;
$gold: #ffb700 !default;
$yellow: #ffd700 !default;
$light-yellow: #fbf1a9 !default;
$purple: #5e2ca5 !default;
$light-purple: #a463f2 !default;
$dark-pink: #d5008f !default;
$hot-pink: #ff41b4 !default;
$pink: #ff80cc !default;
$light-pink: #ffa3d7 !default;
$dark-green: #137752 !default;
$green: #19a974 !default;
$light-green: #9eebcf !default;
$navy: #001b44 !default;
$dark-blue: #00449e !default;
$blue: #357edd !default;
$light-blue: #96ccff !default;
$lightest-blue: #cdecff !default;
$washed-blue: #f6fffe !default;
$washed-green: #e8fdf5 !default;
$washed-yellow: #fffceb !default;
$washed-red: #ffdfdf !default;
$breakpoint-not-small-width: 30em;
$breakpoint-large-width: 60em;
$breakpoint-not-small: 'screen and (min-width: $breakpoint-not-small-width)';
$breakpoint-medium: 'screen and (min-width: $breakpoint-not-small-width) and (max-width: $breakpoint-large-width)';
$breakpoint-large: 'screen and (min-width: $breakpoint-large-width)';
